/* STYLESHEET INDEX
    I.Global Styles
    
    Color Variables
        Neutrals
        Content
            Arc
            Terrain
            Object
            Mood

    Global Styles (Text & Layout)

  II. Component Layouts
        Body
        Header
        Footer
        Content
        Cards
            Card Colors
                Arc
                Terrain
                Object
                Mood
            Card Header
            Card Content
                Draw Result [PENDING]

    III. Text Styles
        Page Header    
            H1 (Global title)
            Dek (Header Description Text)
        Footer (Byline)

        Cards
            Card Header
                H2 (Card title)
                Helper Text
                Icon
                Title
            Card Content
                H3 (Subsection title)
                H4 (Keyword)
                Keyword Description 

    IV. Button Styles [PENDING]
        
        Global Button Style
        Cards
             Arc
             Terrain
             Object
             Mood
             
        Footer
    
    V. Icon Styles
        Icon Sizes
        Icon Colors


*/

/* I. Global Styles */
/* Color Variables */
:root {
  /* Neutrals */
  --white: #ffffff;
  --lightest-gray: #f5f4f4;
  --light-gray: #e5e4e4;
  --gray: #a1a1a1;
  --dark-gray: #646161;
  --darkest-gray: #2d2b2b;
  --black: #000000;
  --footer: #e7dfd0;

  /* Content */
  /* Arc */
  --arc-lightest: #f0f4f4;
  --arc-light: #a6bfba;
  --arc-intense: #6b948d;
  --arc-dark: #405954;

  /* Terrain */
  --terrain-lightest: #eeeff6;
  --terrain-light: #9b9eca;
  --terrain-intense: #585ea7;
  --terrain-dark: #353864;

  /* Object */
  --object-lightest: #fee7f0;
  --object-light: #fa94bf;
  --object-intense: #db0b62;
  --object-dark: #920741;

  /* Mood */
  --mood-lightest: #f6eeef;
  --mood-light: #c18a8d;
  --mood-intense: #a7585d;
  --mood-dark: #643538;
}

/* Global Styles (Text & Layout) */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--lightest-gray);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

/* II.Component Layouts*/

/* Page Header */

header {
  padding: 40px 40px 20px 40px;
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--footer);
  margin: 20px 0 0 0;
  padding: 20px 20px 60px 20px;
  text-align: center;
  color: var(--black);
}

#button-section {
  padding: 1px 10px 10px 10px;
}

/* Content */
.content {
  display: block;
  align-items: center;
  justify-content: center;
}

/* Card */


.cards-front {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkest-gray);
}

.cards-back {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.card {
    border-radius: 6px;
    width: 180px;
    height: 280px;
    margin: 5px;
    padding: 20px;
  }
/*  FIX THIS MEDIA QUERY IS BROKEN
    @media screen and (max-width:500px) {
        .content {
            display: block;
            width: 100%;
            justify-content: center;
        }
    }
    */

#arc-card-front {
  background-color: var(--arc-light);
}
#terrain-card-front {
  background-color: var(--terrain-light);
}
#object-card-front {
  background-color: var(--object-light);
}
#mood-card-front {
  background-color: var(--mood-light);
}

#arc-card-back {
  background-color: var(--arc-intense);
}
#terrain-card-back {
  background-color: var(--terrain-intense);
}
#object-card-back {
  background-color: var(--object-intense);
}
#mood-card-back {
  background-color: var(--mood-intense);
}

.card-header {
  padding: 10px 0 0 0;
}
.card-footer {
  position: relative;
  padding: 20px 0 0 0;
}

/* Result Textboxes */

.result-textbox {
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
}

#plot-textbox {
  background: var(--arc-lightest);
  color: var(--arc-dark);
}

#time-textbox {
  background: var(--arc-lightest);
  color: var(--arc-dark);
}

#terrain-textbox {
  background: var(--terrain-lightest);
  color: var(--terrain-dark);
}

#object-textbox {
  background: var(--object-lightest);
  color: var(--object-dark);
}

#mood-textbox {
  background: var(--mood-lightest);
  color: var(--mood-dark);
}

/* III. Text Styles */

/* Page Header */
/* H1 | Global Title */
h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  color: var(--black);
}
/* Dek | Description */
#dek {
  font-size: 22px;
}

/* Footer */

#byline {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

/* Cards */

/* Card Header */
h2 {
  font-family: "Lora", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
  padding: 40px 0 0 0;
}
.helper-text {
  font-family: Ubuntu;
  font-style: normal;
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  line-height: 140%;
}
/* Card Content */
h3 {
  font-family: Lora;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
}

h4 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

.keyword-description {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
}

/* IV. Button Styles */

/* All Buttons */
button {
  border-radius: 6px;
  text-align: center;
  font-family: Ubuntu;
  transition-duration: 0.05s;
  width: 85%;
}

/* Global (Footer) Buttons */
.global-button {
  background: var(--lightest-gray);
  border: 2px solid var(--gray);
  padding: 15px 30px;
  margin: 4px;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: 20px;
}

.global-button:hover {
  background: var(--lightest-gray);
  border: 2px solid var(--black);
  color: var(--black);
}
.global-button:active {
  background: var(--black);
  border: 2px solid var(--white);
  color: var(--white);
}
