/* STYLESHEET INDEX
    I.Global Styles
    
    Color Variables
        Neutrals
        Content
            Arc
            Terrain
            Object
            Mood

    Global Styles (Text & Layout)

  II. Component Layouts
        Body
        Header
        Footer
        Content
        Cards
            Card Colors
                Arc
                Terrain
                Object
                Mood
            Card Header
            Card Content
                Draw Result [PENDING]

    III. Text Styles
        Page Header    
            H1 (Global title)
            Dek (Header Description Text)
        Footer (Byline)

        Cards
            Card Header
                H2 (Card title)
                Helper Text
                Icon
                Title
            Card Content
                H3 (Subsection title)
                H4 (Keyword)
                Keyword Description 

    IV. Button Styles [PENDING]
        
        Global Button Style
        Cards
             Arc
             Terrain
             Object
             Mood
             
        Footer
    
    V. Icon Styles
        Icon Sizes
        Icon Colors


*/

/* I. Global Styles */
/* Color Variables */
:root {
  /* Neutrals */
  --white: #ffffff;
  --lightest-gray: #f5f4f4;
  --light-gray: #e5e4e4;
  --gray: #a1a1a1;
  --dark-gray: #646161;
  --darkest-gray: #2d2b2b;
  --black: #000000;
  --footer: #e7dfd0;

  /* Content */
  /* Arc */
  --arc-lightest: #f0f4f4;
  --arc-light: #a6bfba;
  --arc-intense: #6b948d;
  --arc-dark: #405954;

  /* Terrain */
  --terrain-lightest: #eeeff6;
  --terrain-light: #9b9eca;
  --terrain-intense: #585ea7;
  --terrain-dark: #353864;

  /* Object */
  --object-lightest: #fee7f0;
  --object-light: #fa94bf;
  --object-intense: #db0b62;
  --object-dark: #920741;

  /* Mood */
  --mood-lightest: #f6eeef;
  --mood-light: #c18a8d;
  --mood-intense: #a7585d;
  --mood-dark: #643538;
}

/* Global Styles (Text & Layout) */
* {
  text-align: center;
}

body {
  background-color: var(--lightest-gray);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

/* II.Component Layouts*/

/* Page Header */

header {
  padding: 2vh 2vh 4vh 2vh;
}

/* Footer */
footer {
  background-color: var(--footer);
  margin: 3vh 0 0vh 0;
  padding: 3vh 4vh 6vh 4vh;
  color: var(--black);
}

#button-section {
  padding: 0;
}

/* Content */
.content {
  display: block;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

/* Card */

.cards-front {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkest-gray);
}

.cards-back {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.card {
  border-radius: 1vh;
  margin: 1.5vh;
  padding: 4vh;
  width: 30vw;
  height: 50vh;
}
/*  FIX THIS MEDIA QUERY IS BROKEN
    @media screen and (max-width:500px) {
        .content {
            display: block;
            width: 100%;
            justify-content: center;
        }
    }
    */

#arc-card-front {
  background-color: var(--arc-light);
}
#terrain-card-front {
  background-color: var(--terrain-light);
}
#object-card-front {
  background-color: var(--object-light);
}
#mood-card-front {
  background-color: var(--mood-light);
}

#arc-card-back {
  background-color: var(--arc-intense);
}
#terrain-card-back {
  background-color: var(--terrain-intense);
}
#object-card-back {
  background-color: var(--object-intense);
}
#mood-card-back {
  background-color: var(--mood-intense);
}

.card-header {
  padding: 1vh 0 1vh 0;
  margin: 2vh 0 0.5vh 0;
}
.card-footer {
  position: relative;
  margin: 1vh 0 0.5vh 0;
}

/* Result Textboxes */

.result-textbox {
  border-radius: 1vh;
  padding: 2vh 1vh 2vh 1vh;
  margin: 0.05vh;
  position: relative;
}

#plot-textbox {
  background: var(--arc-lightest);
  color: var(--arc-dark);
}

#time-textbox {
  background: var(--arc-lightest);
  color: var(--arc-dark);
}

#terrain-textbox {
  background: var(--terrain-lightest);
  color: var(--terrain-dark);
}

#object-textbox {
  background: var(--object-lightest);
  color: var(--object-dark);
}

#mood-textbox {
  background: var(--mood-lightest);
  color: var(--mood-dark);
}

/* III. Text Styles */

/* Page Header */
/* H1 | Global Title */
h1 {
  font-family: "Lora", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 10vh;
  margin: 0.5vh;
  color: var(--black);
}
/* Dek | Description */
#dek {
  font-size: 3vh;
  margin: 0.5vh;
}

/* Footer */

#byline {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 2vh;
  margin: 0.05vh;
}

/* Cards */

/* Card Header */
h2 {
  font-family: "Lora", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 5vh;
  margin: 0.5vh;
  padding: 0.5vh;
}
.helper-text {
  font-family: Ubuntu;
  font-style: normal;
  font-size: 2vh;
  padding: 0.5vh;
  margin: 0.05vh;
}
/* Card Content */
h3 {
  font-family: Lora;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5vh;
  margin: 0.5vh;
  padding: 0.5vh;
}

h4 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5vh;
  margin: 0.5vh;
}

div {
  font-size: 2vh;
  margin: 0;
  font-family: Ubuntu;
}

/* IV. Button Styles */

/* All Buttons */
button {
  border-radius: 1vh;
  font-family: Ubuntu;
  transition-duration: 0.05s;
  width: 100%;
}

/* Global (Footer) Buttons */
.global-button {
  background: var(--lightest-gray);
  border: 0.45vh solid var(--gray);
  padding: 2vh 4vh;
  margin: 1vh;
  color: var(--dark-gray);
  font-weight: bold;
  font-size: 3vh;
}

.global-button:hover {
  background: var(--lightest-gray);
  border: 0.45vh solid var(--black);
  color: var(--black);
}
.global-button:active {
  background: var(--black);
  border: 0.45vh solid var(--white);
  color: var(--white);
}
